      body {
        margin: 0;
        padding: 0;
        background-color: black;
        background-image: url('../../../graphics/pokemon/arisadrawsgrs.jpg');
        background-size: 50%;
        background-attachment: fixed;
        font-family: verdana,sans-serif;
        font-size: 12px;
        line-height: 1.3em;
        color: #10160C;
      }

      body a {
        color: black;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 1px;
      }

      #main-container {
        max-width: 800px;
        height: 100%;
        margin: auto;
        margin-top: 7%;
        background-color: none;
        border-radius: 12px;
      }

      .flex {
        display: flex;
        margin-bottom: 5px;
      }

      #content-container {
        width: 75%;
        margin-bottom: 5px;
        height: 500px;
        overflow: auto;
        background-color: #ADB439;
        border: 3px solid #5F7E14;
        border-radius: 12px;
      }

      #left-sidebar {
        width: 25%;
        margin-right: 10px;
        margin-bottom: 5px;
        height: 500px;
        text-align: center;
        overflow: hidden;
        background-color: #ADB439;
        border: 3px solid #5F7E14;
        border-radius: 12px;
      }

      #header-contained {
        height: 17px;
        margin-bottom: 10px;
        background-image: url('../../../graphics/garden/divdandelions.gif');
        background-position: center center;
        border-radius: 12px;
      }

      #footer-gen {
        height: 17px;
        margin-bottom: 10px;
        background-image: url('../../../graphics/garden/divdandelions.gif');
        background-position: center center;
        border-radius: 12px;
      }

      .wrapper {
        padding: 25px;
        padding-top: 15px;
      }

      .sidebar-wrapper {
        padding: 15px;
        height: 500px;
        overflow: auto;
      }

      .footer-wrapper {
        padding: 8px;
      }

      table {
        border-collapse: collapse;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      th, td {
        padding: 3px;
      }

      tr:nth-child(odd) {
        background-color: #5F7E14;
      }

     .sideimg {
        overflow: hidden;
       /* Magic */
       display: flex;
       align-items: center; /* vertical */
       justify-content: center; /* horizontal */
      }

      /* To keep your site RESPONSIVE, make sure this variable matches the width for --container-width UNLESS --container-width is 100% - if it's 100%, you'll need to manually input a breakpoint. */
      @media only screen and (max-width: 800px) {
        .flex {
          flex-wrap: wrap;
        }

        #left-sidebar {
          width: 80%;
          height: 650px; 
          display: block;
          order: 2;
          margin: auto;
          margin-bottom:10px;
        }

        #content-container {
          width: 80%;
          height: 650px; 
          display: block;
          order: 1;
          margin: auto;
          margin-bottom:10px;
        }
      }

      /* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/games/gam-8/gam708.cur), auto !important;} /* End https://www.cursors-4u.com */