body {
  background-image: url('graphics/Lbgbookshelf3.gif');
  background-attachment: fixed;
  background-position: center center;
  font-family: verdana,sans-serif;
  font-size: 12px;
  height: 1.3em;
  color: #3F4A43;
}

body a {
  color: #5C5961;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

#contain {
  background-image: url('graphics/Lbgsolidblue.gif');
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  width: 950px;
  height: 650px;
  margin: 0 auto;
  margin-top: 50px;
  overflow: hidden;
  border: hidden;
  border-radius: 3px;
}

.flex {
  display: flex;
  margin-bottom: 5px;
}

.wimdow {
  position: absolute;
  right: 40px;
  bottom: 130px;
}

.cozychair {
  position: absolute;
  right: 50px;
  bottom: 25px;
}

#navigation {
  background-image: url('graphics/Lbglightb.gif');
  background-attachment: fixed;
  background-position: center center;
  width: 136px;
  height: 610px;
  margin: 20px auto;
  margin-left: 15px;
  overflow: hidden;
  border: hidden;
  border-radius: 9px;
}

#maintext {
  background-image: url('graphics/Lbglightb.gif');
  background-attachment: fixed;
  background-position: center center;
  width: 740px;
  height: 580px;
  margin: 20px auto;
  margin-right: 15px;
  overflow: auto;
  border: hidden;
  border-radius: 9px;
}

/* To keep your site RESPONSIVE, make sure this variable matches the width for --container-width UNLESS --container-width is 100% - if it's 100%, you'll need to manually input a breakpoint. */
@media only screen and (max-width: 800px) {
  body {
    background-attachment: scroll;
  }

  .flex {
    flex-wrap: wrap;
  }

  .cozy {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px
  }

  .wimdow {
    position: absolute;
    bottom: 105px;
    right: 7%;
  }

  .cozychair {
    position: absolute;
    bottom: 0px;
    left: 15%;
  }
  
  .rainyreading {
    position: absolute;
    bottom: 10px;
    left: 20%;
  }

  #contain {
    width: 90%;
    height: 675px;
    margin: 20px auto;
    overflow: auto;
    position: relative;
  }

  #navigation {
    width: 88%;
    height: 240px;
    display: block;
    order: 2;
    margin: 10px auto 20px;
    overflow: auto;
  }

  #maintext {
    width: 80%;
    height: 600px;
    display: block;
    order: 1;
    margin: 20px auto 10px;
    position: relative;
  }
}