    body {
			background-color: #E3D1A3;
			background-image: url('../graphics/bgs/ivy_131.jpg');
			background-attachment: fixed;
			font-family: verdana,sans-serif;
			font-size: 14px;
			line-height: 1.3em;
			color: #3F4A43;
		}
		
		body a {
			color: #795250;
			font-weight: bold;
			text-decoration: none;
		}
		
		#navi {
			background-color: rgba(226, 209, 165, 0.8);
			border-right: 2px solid #464E49;
			text-align: center;
			position: fixed;
			left: 0px;
			top: 0px;
			width: 281px;
			height: 100%;
			overflow-x: hidden;
		}
		
		#sidewidgets {
			background-color: none;
			background-image: url('../graphics/dividers/rosebears.gif');
			background-repeat: repeat-y;
			background-position: right top;
			position: fixed;
			right: 0px;
			top: 0px;
			width: 100px;
			height: 100%;
			overflow-x: hidden;
		}
		
		#container {
			background-color: none;
			width: 910px;
			height: 1000px;
			overflow: hidden;
			margin: 30px 300px;
			position: relative;
		}
		
		#main {
			background-color: none;
			background-image: url('../graphics/bgs/rosebears01.gif');
			border: 0px solid;
			border-radius: 9px;
			box-shadow: 0px 0px 10px tan;
			width: 640px;
			height: 1000px;
			margin: 0px auto;
			overflow: auto;
		}
		
		#currently {
			background-color: none;
			background-image: url('../graphics/bgs/rosebears01.gif');
			border: 0px solid;
			border-radius: 9px;
			text-align: center;
			box-shadow: 0px 0px 10px tan;
			width: 250px;
			height: 1000px;
			margin: 0px auto;
			overflow: hidden;
			position: relative;
		}
		
		.flex {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 5px;
		}
		
		.wrapper {
			padding: 15px;
		}
		
		.blinkiedisplay {
			width: 190px;
			line-height: 0px;
			text-align: center;
			padding: 5px;
			margin: 0px auto;
		}
		
   .sideimg {
      overflow: hidden;
     /* Magic */
     display: flex;
     align-items: center; /* vertical */
     justify-content: center; /* horizontal */
    }
		
		.scrollfun {
			-ms-overflow-style: none;  /* IE and Edge */
			scrollbar-width: none;  /* Firefox */
		}
		
		.scrollfun::-webkit-scrollbar {
			display: none;
		}
		
		@font-face {
    font-family: 'MorningTea';
    src: url('../components/fonts/MorningTea.eot');
    src: url('../components/fonts/MorningTea.eot') format('embedded-opentype'),
         url('../components/fonts/MorningTea.woff2') format('woff2'),
         url('../components/fonts/MorningTea.woff') format('woff'),
         url('../components/fonts/MorningTea.ttf') format('truetype'),
         url('../components/fonts/MorningTea.svg#MorningTea') format('svg');
    }
    
    @media only screen and (max-width: 800px) {
      body {
        
      }
      
      .flex {
        flex-wrap: wrap;
      }
      
      #container {
        width: 99%;
        height: 99%;
        margin: auto;
      }
      
      #main {
        width: 90%;
        height: 100%;
        display: block;
        order: 2;
        margin: auto;
        margin-bottom: 10px;
        overflow: auto;
      }
      
      #navi {
        height: 475px;
        display: block;
        order: 1;
        margin: auto;
        margin-bottom: 10px;
        position: relative;
        border: 2px solid #464E49;
        border-radius: 9px;
			  box-shadow: 0px 0px 10px tan;
        overflow: hidden;
      }
      
      #currently {
        width: 90%;
        height: 99%;
        display: block;
        order: 3;
        margin: auto;
        margin-bottom: 10px;
      }
      
      .sideimg {
        visibility: hidden;
      }
    }